In [1]:
import pandas as pd

filename1 = 'mhcld-puf-2013-csv.csv'
df2013 = pd.read_csv(filename1)

In [2]:
df2013.head()

,YEAR,AGE,EDUC,ETHNIC,RACE,GENDER,SPHSERVICE,CMPSERVICE,OPISERVICE,RTCSERVICE,...,ODDFLG,PDDFLG,PERSONFLG,SCHIZOFLG,ALCSUBFLG,OTHERDISFLG,STATEFIP,DIVISION,REGION,CASEID
0,2013,8,4,-9,6,2,2,1,2,2,...,0,0,0,0,0,0,1,6,3,20130000001
1,2013,8,-9,4,-9,2,1,1,2,2,...,0,0,1,0,0,0,1,6,3,20130000002
2,2013,6,3,-9,5,1,2,1,2,2,...,0,0,0,0,0,0,1,6,3,20130000003
3,2013,10,-9,4,-9,1,1,2,2,2,...,0,0,0,1,0,0,1,6,3,20130000004
4,2013,1,-9,-9,2,2,2,1,2,2,...,0,0,0,0,0,0,1,6,3,20130000005

In [3]:
filename2 = 'mhcld-puf-2014-csv.csv'
df2014 = pd.read_csv(filename2)

filename3 = 'mhcld-puf-2015-csv.csv'
df2015 = pd.read_csv(filename3)

filename4 = 'mhcld-puf-2016-csv.csv'
df2016 = pd.read_csv(filename4)

filename5 = 'mhcld-puf-2017-csv.csv'
df2017 = pd.read_csv(filename5)

filename6 = 'mhcld-puf-2018-csv.csv'
df2018 = pd.read_csv(filename6)

filename7 = 'mhcld-puf-2019-csv.csv'
df2019 = pd.read_csv(filename7)

In [4]:
frames = [df2013, df2014, df2015, df2016, df2017, df2018, df2019]
dfAllYears = pd.concat(frames)

In [5]:
dfAllYears

,YEAR,AGE,EDUC,ETHNIC,RACE,GENDER,SPHSERVICE,CMPSERVICE,OPISERVICE,RTCSERVICE,...,ODDFLG,PDDFLG,PERSONFLG,SCHIZOFLG,ALCSUBFLG,OTHERDISFLG,STATEFIP,DIVISION,REGION,CASEID
0,2013,8,4,-9,6,2,2,1,2,2,...,0,0,0,0,0,0,1,6,3,20130000001
1,2013,8,-9,4,-9,2,1,1,2,2,...,0,0,1,0,0,0,1,6,3,20130000002
2,2013,6,3,-9,5,1,2,1,2,2,...,0,0,0,0,0,0,1,6,3,20130000003
3,2013,10,-9,4,-9,1,1,2,2,2,...,0,0,0,1,0,0,1,6,3,20130000004
4,2013,1,-9,-9,2,2,2,1,2,2,...,0,0,0,0,0,0,1,6,3,20130000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6548367,2019,10,-9,-9,5,1,1,2,2,2,...,0,0,1,0,1,0,72,0,0,20196548368
6548368,2019,4,-9,3,1,1,2,2,1,2,...,0,0,0,0,1,0,72,0,0,20196548369
6548369,2019,13,5,4,5,2,2,2,2,1,...,0,0,0,0,0,0,72,0,0,20196548370
6548370,2019,11,-9,3,5,2,1,2,1,2,...,0,0,0,1,0,0,72,0,0,20196548371
6548371,2019,14,-9,4,-9,2,2,1,2,2,...,0,0,0,1,0,0,72,0,0,20196548372

In [6]:
dfAllYears = dfAllYears.dropna()

In [7]:
#when downloading use a pickle (.pkl)
dfAllYears.to_pickle("./mh-cld-all_years.pkl")

OSError: [Errno 28] No space left on device

In [1]:
import pandas as pd
dfTest = pd.read_pickle('mh-cld-all_years.pkl')

In [3]:
dfTest.shape

(40626448, 40)