In [4]:
import pandas as pd
filename = 'mh-cld-all_years.pkl'
df = pd.read_pickle(filename)
df

group_states = df['MH1'] 

# series of counts of each state type
ser = group_states.value_counts()
# make the series a df
df1 = ser.to_frame()
# replace the index to be numbers and state type is a column
df1['Disorder'] = df1.index.tolist()
numb_lst = list(range(0, len(df1.index.tolist())))
df1.set_index([pd.Index(numb_lst)], inplace = True)

df1

        MH1  Disorder
0   9193404         7
1   5229536        -9
2   4955811         1
3   4931923         6
4   4403448        11
5   3503410         2
6   2855008         3
7   2219459        13
8   1040992        12
9    738718         8
10   732179         4
11   424144         9
12   264378        10
13   134038         5

In [7]:
df_disorders = pd.read_csv('Disorders_Key.csv')
df_disorders.head()

   ID          DISORDER
0  -9               NaN
1   1    Trauma-related
2   2           Anxiety
3   3              ADHD
4   4  Conduct disorder

In [9]:
disorder_dict = dict(zip(df_disorders.ID, df_disorders.DISORDER))
df1 = df1.replace({'Disorder': disorder_dict})
df1.head()

       MH1                 Disorder
0  9193404               Depression
1  5229536                      NaN
2  4955811           Trauma-related
3  4931923                  Bipolar
4  4403448  Schizophrenia/psychotic

In [10]:
df1.to_csv("./disorder_counts-all_years.csv")